In [241]:
from basketball_reference_web_scraper import client
from basketball_reference_web_scraper.data import Team
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats, get_team_misc
import pandas as pd
import numpy as np
from basketball_reference_scraper.box_scores import get_box_scores
from basketball_reference_scraper.seasons import get_schedule, get_standings

In [242]:
team_abbreviations = {'ATLANTA HAWKS' : 'ATL'
,'BOSTON CELTICS' : 'BOS'
,'BROOKLYN NETS' : 'BRK'
,'CHICAGO BULLS' : 'CHI'
,'CHARLOTTE HORNETS' : 'CHO'
,'CLEVELAND CAVALIERS' : 'CLE'
,'DALLAS MAVERICKS' : 'DAL'
,'DENVER NUGGETS' : 'DEN'
,'DETROIT PISTONS' : 'DET'
,'GOLDEN STATE WARRIORS' : 'GSW'
,'HOUSTON ROCKETS' : 'HOU'
,'INDIANA PACERS' : 'IND'
,'LOS ANGELES CLIPPERS' : 'LAC'
,'LOS ANGELES LAKERS' : 'LAL'
,'MEMPHIS GRIZZLIES' : 'MEM'
,'MIAMI HEAT' : 'MIA'
,'MILWAUKEE BUCKS' : 'MIL'
,'MINNESOTA TIMBERWOLVES' : 'MIN'
,'NEW ORLEANS PELICANS' : 'NOP'
,'NEW YORK KNICKS' : 'NYK'
,'OKLAHOMA CITY THUNDER' : 'OKC'
,'ORLANDO MAGIC' : 'ORL'
,'PHILADELPHIA 76ERS' : 'PHI'
,'PHOENIX SUNS' : 'PHO'
,'PORTLAND TRAIL BLAZERS' : 'POR'
,'SACRAMENTO KINGS' : 'SAC'
,'SAN ANTONIO SPURS' : 'SAS'
,'TORONTO RAPTORS' : 'TOR'
,'UTAH JAZZ' : 'UTA'
,'WASHINGTON WIZARDS' : 'WAS'}

In [254]:
#Sample output from get_box_scores fuction

d = get_box_scores('2018-10-16', 'OKC', 'GSW', period='GAME', stat_type='ADVANCED')
d

{'OKC':                       PLAYER            MP           TS%          eFG%  \
 0                Paul George         37:24          .509          .478
 1               Steven Adams         35:36          .548          .500
 2           Dennis SchrÃ¶der         34:05          .485          .421
 3          Terrance Ferguson         26:31          .000          .000
 4          Patrick Patterson         18:53          .339          .278
 5               Jerami Grant         29:07          .400          .357
 6              Ãlex Abrines         23:28          .500          .500
 7             Raymond Felton         13:55          .417          .200
 8               Nerlens Noel         12:24          .521          .500
 9             Hamidou Diallo          8:37          .450          .500
 10               Abdel Nader  Did Not Play  Did Not Play  Did Not Play
 11             Deonte Burton  Did Not Play  Did Not Play  Did Not Play
 12  TimothÃ© Luwawu-Cabarrot  Did Not Play  Did Not Play  Did Not Play
 13               Team Totals           240          .466          .418

             3PAr           FTr          ORB%          DRB%          TRB%  \
 0           .522          .348           0.0           5.6           2.5
 1           .000          .667           9.5          20.5          14.4
 2           .316          .316           4.9          18.4          10.9
 3          1.000          .000           6.4           7.9           7.0
 4           .444          .333          13.4          11.1          12.3
 5           .571          .571           5.8           0.0           3.2
 6           .750          .000           0.0           8.9           4.0
 7           .600         1.000           0.0          22.5          10.0
 8           .000         1.000          20.4          33.7          26.3
 9           .000          .250           0.0          12.1           5.4
 10  Did Not Play  Did Not Play  Did Not Play  Did Not Play  Did Not Play
 11  Did Not Play  Did Not Play  Did Not Play  Did Not Play  Did Not Play
 12  Did Not Play  Did Not Play  Did Not Play  Did Not Play  Did Not Play
 13          .407          .407          28.1          63.0          43.7

             AST%          STL%          BLK%          TOV%          USG%  \
 0           29.9           5.0           0.0          15.9          33.4
 1           21.7           2.6           0.0          11.4          19.5
 2           36.5           4.1           2.0          12.2          28.6
 3            5.5           0.0           0.0          33.3           4.5
 4            0.0           2.5           3.7           8.8          23.7
 5           11.1           0.0           7.2           0.0          11.9
 6            0.0           0.0           0.0           0.0          13.5
 7           11.7           0.0           0.0          21.7          26.2
 8           13.3           3.8           5.6           0.0           9.2
 9           25.5           5.4           0.0           0.0          20.4
 10  Did Not Play  Did Not Play  Did Not Play  Did Not Play  Did Not Play
 11  Did Not Play  Did Not Play  Did Not Play  Did Not Play  Did Not Play
 12  Did Not Play  Did Not Play  Did Not Play  Did Not Play  Did Not Play
 13          63.6          11.7           8.7          11.5         100.0

             ORtg          DRtg           BPM
 0             93           104           5.3
 1            114           103           3.7
 2            102           100           6.5
 3             48           114         -11.0
 4             80           105          -3.4
 5            104           114          -0.1
 6            104           114          -4.8
 7             76           108         -10.9
 8            142            92           4.7
 9             99           100           1.8
 10  Did Not Play  Did Not Play  Did Not Play
 11  Did Not Play  Did Not Play  Did Not Play
 12  Did Not Play  Did Not Play  Did Not Play
 13          97.7         105.6           NaN  ,
 'GSW':               PLAYER            MP           TS%          eFG%          3PAr  \
 0       Kevin Durant         37:43          .531          .429          .238
 1      Stephen Curry         36:37          .721          .675          .450
 2      Klay Thompson         34:59          .328          .275          .400
 3     Draymond Green         32:45          .167          .167          .167
 4       Damian Jones         26:33          .857          .857          .000
 5       Kevon Looney         18:04          .455          .455          .000
 6   Shaun Livingston         14:34          .600          .600          .000
 7         Quinn Cook         13:12          .750          .750          .500
 8     Andre Iguodala         10:23          .500          .500          .500
 9        Jordan Bell          6:39           NaN           NaN           NaN
 10     Jonas Jerebko          6:10           NaN           NaN           NaN
 11  Alfonzo McKinnie          2:21          .000          .000         1.000
 12       Jacob Evans  Did Not Play  Did Not Play  Did Not Play  Did Not Play
 13       Team Totals           240          .525          .479          .274

              FTr          ORB%          DRB%          TRB%          AST%  \
 0           .476           2.8          15.6           9.9          25.0
 1           .250           0.0          18.4          10.2          42.8
 2           .150           3.0           7.2           5.3           0.0
 3           .000           3.2          30.9          18.5          18.1
 4           .000           7.9           3.2           5.3          11.6
 5           .000          46.2           9.3          25.8          18.5
 6           .000          14.3           5.8           9.6          10.3
 7           .000           7.9           6.4           7.1           9.5
 8           .000           0.0          16.2           9.0          24.7
 9            NaN          15.7          12.7          14.0           0.0
 10           NaN           0.0          41.0          22.7           0.0
 11          .000           0.0           0.0           0.0           0.0
 12  Did Not Play  Did Not Play  Did Not Play  Did Not Play  Did Not Play
 13          .189          37.0          71.9          56.3          66.7

             STL%          BLK%          TOV%          USG%          ORtg  \
 0            1.2           2.4          10.6          29.2           116
 1            1.3           0.0          11.9          26.7           141
 2            0.0           0.0           8.6          25.8            75
 3            4.3           0.0          50.0          14.2            42
 4            0.0          10.0          22.2          13.1           130
 5            2.6           9.8           8.3          25.7           117
 6            3.2           0.0          16.7          16.0           114
 7            0.0           0.0          50.0          11.7            81
 8            0.0           0.0           0.0           7.5           139
 9            0.0          13.4           NaN           0.0           220
 10           0.0           0.0         100.0           6.3             0
 11           0.0           0.0           0.0          16.5             0
 12  Did Not Play  Did Not Play  Did Not Play  Did Not Play  Did Not Play
 13           6.8          13.0          16.9         100.0         105.6

             DRtg           BPM
 0             98           5.9
 1             97          17.1
 2            106         -12.9
 3             85          -5.7
 4            102           7.0
 5             93           7.6
 6             99           3.7
 7            106          -5.0
 8            102           3.9
 9             96           2.1
 10            87         -14.0
 11           110         -19.8
 12  Did Not Play  Did Not Play
 13          97.7           NaN  }

In [231]:
key, value = list(d.items())[0]
value[-1:]

,PLAYER,MP,TS%,eFG%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,BPM
13,Team Totals,240,.448,.420,.299,.264,12.2,77.4,46.1,52.9,7.7,8.3,14.1,100.0,83.4,100.7,NaN

In [261]:
schedule_df = get_schedule(2019, playoffs=False)
schedule_df.loc[schedule_df['DATE'] == '2019-02-22']
#schedule_df

,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS
872,2019-02-22,Washington Wizards,110,Charlotte Hornets,123
873,2019-02-22,New Orleans Pelicans,111,Indiana Pacers,126
874,2019-02-22,Chicago Bulls,110,Orlando Magic,109
875,2019-02-22,San Antonio Spurs,117,Toronto Raptors,120
876,2019-02-22,Detroit Pistons,125,Atlanta Hawks,122
877,2019-02-22,Minnesota Timberwolves,115,New York Knicks,104
878,2019-02-22,Los Angeles Clippers,112,Memphis Grizzlies,106
879,2019-02-22,Denver Nuggets,114,Dallas Mavericks,104
880,2019-02-22,Utah Jazz,147,Oklahoma City Thunder,148

I'll have to break out the Home and Home Points column into another row. So each game should be worth 2 rows, one with each team, their points, and then their respective advanced box scores

In [259]:
#TS%	eFG%	3PAr	FTr	ORB%	DRB%	TRB%	AST%	STL%	BLK%	TOV%	USG%	ORtg	DRtg
final_schedule_df = pd.DataFrame(columns=['Date', 'Team', 'Points','TS%','eFG%','3PAr','FTr','ORB%',
                                          'DRB%','TRB%','AST%','STL%','BLK%','TOV%','USG%','ORtg','DRtg'])

for index, row in schedule_df.iterrows():
    
    if index == 877:
        continue
        
    game_date = str(schedule_df['DATE'][index]).strip()[0:10]
    v_score = schedule_df['VISITOR_PTS'][index]
    h_score = schedule_df['HOME_PTS'][index]
    visitor = team_abbreviations.get(str(schedule_df['VISITOR'][index]).upper().strip())
    home = team_abbreviations.get(str(schedule_df['HOME'][index]).upper().strip())
    
    b = get_box_scores(game_date, visitor, home ,period='GAME', stat_type='ADVANCED')
    
    v_key, v_value = list(b.items())[0]
    v_TS = str(v_value[-1:]['TS%'])[6:10]
    v_eFG = str(v_value[-1:]['eFG%'])[6:10]
    v_3PAr = str(v_value[-1:]['3PAr'])[6:10]
    v_FTr = str(v_value[-1:]['FTr'])[6:10]
    v_ORB = str(v_value[-1:]['ORB%'])[6:10].rstrip()
    v_DRB = str(v_value[-1:]['DRB%'])[6:10].rstrip()
    v_TRB = str(v_value[-1:]['TRB%'])[6:10].rstrip()
    v_AST = str(v_value[-1:]['AST%'])[6:10].rstrip()
    v_STL = str(v_value[-1:]['STL%'])[6:10].rstrip()
    v_BLK = str(v_value[-1:]['BLK%'])[6:10].rstrip()
    v_TOV = str(v_value[-1:]['TOV%'])[6:10].rstrip()
    v_USG = str(v_value[-1:]['USG%'])[6:11].rstrip()
    v_ORtg = str(v_value[-1:]['ORtg'])[6:11].rstrip()
    v_DRtg = str(v_value[-1:]['DRtg'])[6:11].rstrip()
    
    
    final_schedule_df = final_schedule_df.append({'Date': game_date,'Team':visitor,'Points': v_score,'TS%': v_TS,'eFG%':v_eFG
                                                 ,'3PAr':v_3PAr,'FTr':v_FTr,'ORB%':v_ORB,'DRB%':v_DRB,'TRB%':v_TRB,'AST%':v_AST
                                                 ,'STL%':v_STL,'BLK%':v_BLK,'TOV%':v_TOV,'USG%':v_USG,'ORtg':v_ORtg,'DRtg':v_DRtg}, ignore_index=True)
    
    h_key, h_value = list(b.items())[1]
    h_TS = str(h_value[-1:]['TS%'])[6:10]
    h_eFG = str(h_value[-1:]['eFG%'])[6:10]
    h_3PAr = str(h_value[-1:]['3PAr'])[6:10]
    h_FTr = str(h_value[-1:]['FTr'])[6:10]
    h_ORB = str(h_value[-1:]['ORB%'])[6:10].rstrip()
    h_DRB = str(h_value[-1:]['DRB%'])[6:10].rstrip()
    h_TRB = str(h_value[-1:]['TRB%'])[6:10].rstrip()
    h_AST = str(h_value[-1:]['AST%'])[6:10].rstrip()
    h_STL = str(h_value[-1:]['STL%'])[6:10].rstrip()
    h_BLK = str(h_value[-1:]['BLK%'])[6:10].rstrip()
    h_TOV = str(h_value[-1:]['TOV%'])[6:10].rstrip()
    h_USG = str(h_value[-1:]['USG%'])[6:11].rstrip()
    h_ORtg = str(h_value[-1:]['ORtg'])[6:11].rstrip()
    h_DRtg = str(h_value[-1:]['DRtg'])[6:11].rstrip()
    
    final_schedule_df = final_schedule_df.append({'Date': game_date,'Team':home,'Points': h_score,'TS%': h_TS,'eFG%':h_eFG
                                                 ,'3PAr':h_3PAr,'FTr':h_FTr,'ORB%':h_ORB,'DRB%':h_DRB,'TRB%':h_TRB,'AST%':h_AST
                                                 ,'STL%':h_STL,'BLK%':h_BLK,'TOV%':h_TOV,'USG%':h_USG,'ORtg':h_ORtg,'DRtg':h_DRtg}, ignore_index=True)
    #final_schedule_df = final_schedule_df.append({'Date': game_date,'Team':home,'Points': h_score, 'TS%': h_TS}, ignore_index=True)

In [260]:
final_schedule_df.to_csv('NBA Project.csv',index=False)